# Byte-compiled files
__pycache__/
clip_app/__pycache__/
*.pyc
*.pyo

# Resources
resources/*.so
resources/*.hef
resources/*.mp4
community_projects/ad_genie/resources/archive
community_projects/ad_genie/resources/images

# Logs and temp files
*.log
*.tmp

# Packages and dependencies
*.egg-info/
hailo_clip_venv/
community_projects/ad_genie/venv/

# Build, cache, and coverage files
build/
build.release/
dist/
*.egg
*.egg-info/
.cache/
coverage/
